body {
    background: linear-gradient(#95fefa, #fdc9ff, #fff3c9);
	background-attachment: fixed;
	height: 100%;
}

h1{
	font-family: Arial, Helvetica, sans-serif;
	color: #95fefa;
	font-size: 60px;
}